<html>
<head>
<title>Feedback</title>
<link rel="stylesheet" type="text/css" href="/static/search.css"/>
</head>
<body>

<center><h1><span id="brandfive"><a href="/">5ColCourse</a></span></h1></center>

<div id="schedules"><a href="/schedule">My courses</a></div>
<div id="schedule"><a href="/feedback">Feedback</a></div>
<div id="schedule1"><a href={{logout_link}}>Log Out</a></div>
<div id="scheduleh"><a href="/">Home</a></div>
<center><h3>If you have any comment or want to report an error, please leave it here. Thank you very much.</h3></center></br>
<form method="POST" action="/feedback">
<center><textarea rows="28" cols="110" name="feedback"></textarea></center></br>
<center><input type="submit" value="submit"/></center>
</form>

<div id="footer" style="position:absolute; top:93%; left:37%;">Created By Thanh Nguyen 2012. All Rights Reserved.</div>
</body>
</html>