<html>
<head>
<title> The input data page </title>
</head>
<body>
<h1> Input the information of a course </h1>
<form method="POST" action="/inputdata">
<table>
<tr>
<td>Name of the course</td>
<td><input type="text" name="name"/></td>
</tr>
<tr>
<td>Course Description/ Information</td>
<td><textarea name="des"></textarea></td>
</tr>
<tr>
<td>Code name of the course</td>
<td><input type="text" name="code"/></td>
</tr>
<tr>
<td>Instuctor</td>
<td><input type="text" name="instructor"/></td>
</tr>
<tr>
<td>Time schedule</td>
<td><input type="text" name="time"/></td>
</tr>
<tr>
<td>Major</td>
<td><input type="text" name="major"/></td>
</tr>
<tr>
<td>School</td>
<td><input type="text" name="school"/></td>
</tr>
<tr>
<td>Term</td>
<td><input type="text" name="term"/></td>
</tr>
<tr>
<td><input type="submit" value="submit"/></td>
</tr>
</table>
</form>
</body>
</html>